---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app.quarkus.io/commit-id: 063ab2294ab9c8f10ee4ff5d80d9a366cbc0b7a0
    app.quarkus.io/build-timestamp: 2023-02-15 - 17:16:30 +0000
  labels:
    app.kubernetes.io/name: quarkus-app
    app.kubernetes.io/version: 1.0.0-SNAPSHOT
  name: quarkus-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: quarkus-app
      app.kubernetes.io/version: 1.0.0-SNAPSHOT
  template:
    metadata:
      annotations:
        app.quarkus.io/commit-id: 063ab2294ab9c8f10ee4ff5d80d9a366cbc0b7a0
        app.quarkus.io/build-timestamp: 2023-02-15 - 17:16:30 +0000
      labels:
        app.kubernetes.io/name: quarkus-app
        app.kubernetes.io/version: 1.0.0-SNAPSHOT
    spec:
      containers:
        - env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: JAVA_APP_JAR
              value: /deployments/quarkus-run.jar
          image: jhawkins/quarkus-app:1.0.0-SNAPSHOT
          imagePullPolicy: Always
          name: quarkus-app
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    app.quarkus.io/commit-id: 063ab2294ab9c8f10ee4ff5d80d9a366cbc0b7a0
    app.quarkus.io/build-timestamp: 2023-02-15 - 17:16:30 +0000
  labels:
    app.kubernetes.io/name: quarkus-app
    app.kubernetes.io/version: 1.0.0-SNAPSHOT
  name: quarkus-app
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app.kubernetes.io/name: quarkus-app
    app.kubernetes.io/version: 1.0.0-SNAPSHOT
  type: ClusterIP
