# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven for extra/log-aggregation

on:
  push:
    paths:
      - .github/workflows/mvn-extra-log-aggregation.yaml
      - extra/log-aggregation/**
  pull_request:
    paths:
      - .github/workflows/mvn-extra-log-aggregation.yaml
      - extra/log-aggregation/**

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Support longpaths
        if: matrix.os == 'windows-latest'
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-mvn-extra-log-aggregation
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v21
        with:
          repositories: '[{ "id": "redhat-ga-repository", "url": "https://maven.repository.redhat.com/ga" }]'
          plugin_repositories: '[{ "id": "redhat-ga-repository", "url": "https://maven.repository.redhat.com/ga" }]'

      - name: Build extra/log-aggregation
        run: |
          pushd extra/log-aggregation
          
          pushd camel-quarkus-consumer
          ./mvnw -B install
          popd
          
          pushd quarkus-consumer
          ./mvnw -B install
          popd
          
          pushd quarkus-log-generator
          ./mvnw -B install
          popd
          
          popd